@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Poppins:wght@300;400;500;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #023e8a #caf0f8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #caf0f8;
}

*::-webkit-scrollbar-thumb {
  background-color: #023e8a;
  border-radius: 10px;
  border: 3px solid #caf0f8;
}
